
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <h1> This is Razor assignment </h1>
    </div>
    <div>
        <h1> this is an example of single line expression</h1>
        <h2> This is a razor syntax view and implemented single line expression</h2>
        <label> Todays's Date and Time is: @DateTime.Now</label> <br />
        <label> Addition of 56 and 87 is: @(56 + 87)</label><br />
        <label> Subtraction of 11110000 and 1008990 is: @(11110000 - 1008990)</label><br />
        <label> Multiplication of 54 and 20  is: @(54 * 20)</label><br />
        <label> Division of 100 and 20 is: @(100 / 20)</label><br />
        <label> Modulus of 40 and 20 is:@(10 % 20)</label><br />
    </div>
    <p> This is an example of Multi Line Expression</p>
    <div>
        @{
            var x = 107;
            var y = 177;
            var z = x + y;
            var Name = "Sachin";
            var job = "Technical Trainer";
            var ColorsList = new List<string>() { "Black", "Brown", "Green", "Pink" };
            var NumList = new List<int>() { 2, 6, 8, 24, 22, 1, 4 };
        }
    </div>
    <div>

        <label> addition of 107 and 177 is : @(z)</label><br />
        <label> My name is: @Name</label><br />
        <label> My job is:@job</label><br />

        @{
            foreach (var a in ColorsList)
            {
                <label> @(a)</label><br />
            }
        }
        @{
            foreach (var b in NumList)
            {
                <label> @(b)</label><br />
            }
        }

    </div>
    @*<div>
            <h1> Escape sequence in Razor view engine </h1>
            <div> sravani1198@gmail.com </div>
            <label> Email address is: @@sravani1198@gmail.com</label>
        </div>*@
    <div>
        @{
            var variable = 21;
            var Is_true = true;
        }
    </div>
    <div>
        @if (variable % 2 == 0)
        {
            <h2> This is If block </h2>
            <h3> The number is even </h3>
        }
        else if (variable % 2 != 0)
        {
            <h3> This number is odd</h3>
        }
        else
        {
            <h2> This is else block</h2>
        }
    </div>
    <div>
        <h4> This is ternary operator </h4><br />
        @(variable == 5 ? "number is equal to 3" : "number is not equal to 3")<br />
        @(Is_true == true ? "condition is true" : "condition is not true")
    </div>
</body>
</html>
